# **IBM HR Employee Attrition Dataset**  
**Exploratory Data Analysis**
---
 
---
In this notebook, exploratory data analysis will be conducted to understand the data and the relationships between the variables.

In [14]:

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from pathlib import Path

file_path = Path("C:/Users/selo/WA_Fn-UseC_-HR-Employee-Attrition.csv")
df = pd.read_csv(file_path)
df.head(5)

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

### Exploratory Data Analysis:

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [3]:
df.select_dtypes(include=['int64','float']).describe().T

,count,mean,std,min,25%,50%,75%,max
Age,1470.0,36.923810,9.135373,18.0,30.00,36.0,43.00,60.0
DailyRate,1470.0,802.485714,403.509100,102.0,465.00,802.0,1157.00,1499.0
DistanceFromHome,1470.0,9.192517,8.106864,1.0,2.00,7.0,14.00,29.0
Education,1470.0,2.912925,1.024165,1.0,2.00,3.0,4.00,5.0
EmployeeCount,1470.0,1.000000,0.000000,1.0,1.00,1.0,1.00,1.0
EmployeeNumber,1470.0,1024.865306,602.024335,1.0,491.25,1020.5,1555.75,2068.0
EnvironmentSatisfaction,1470.0,2.721769,1.093082,1.0,2.00,3.0,4.00,4.0
HourlyRate,1470.0,65.891156,20.329428,30.0,48.00,66.0,83.75,100.0
JobInvolvement,1470.0,2.729932,0.711561,1.0,2.00,3.0,3.00,4.0
JobLevel,1470.0,2.063946,1.106940,1.0,1.00,2.0,3.00,5.0
JobSatisfaction,1470.0,2.728571,1.102846,1.0,2.00,3.0,4.00,4.0
MonthlyIncome,1470.0,6502.931293,4707.956783,1009.0,2911.00,4919.0,8379.00,19999.0
MonthlyRate,1470.0,14313.103401,7117.786044,2094.0,8047.00,14235.5,20461.50,26999.0
NumCompaniesWorked,1470.0,2.693197,2.498009,0.0,1.00,2.0,4.00,9.0
PercentSalaryHike,1470.0,15.209524,3.659938,11.0,12.00,14.0,18.00,25.0
PerformanceRating,1470.0,3.153741,0.360824,3.0,3.00,3.0,3.00,4.0
RelationshipSatisfaction,1470.0,2.712245,1.081209,1.0,2.00,3.0,4.00,4.0
StandardHours,1470.0,80.000000,0.000000,80.0,80.00,80.0,80.00,80.0
StockOptionLevel,1470.0,0.793878,0.852077,0.0,0.00,1.0,1.00,3.0
TotalWorkingYears,1470.0,11.279592,7.780782,0.0,6.00,10.0,15.00,40.0
TrainingTimesLastYear,1470.0,2.799320,1.289271,0.0,2.00,3.0,3.00,6.0
WorkLifeBalance,1470.0,2.761224,0.706476,1.0,2.00,3.0,3.00,4.0
YearsAtCompany,1470.0,7.008163,6.126525,0.0,3.00,5.0,9.00,40.0
YearsInCurrentRole,1470.0,4.229252,3.623137,0.0,2.00,3.0,7.00,18.0
YearsSinceLastPromotion,1470.0,2.187755,3.222430,0.0,0.00,1.0,3.00,15.0
YearsWithCurrManager,1470.0,4.123129,3.568136,0.0,2.00,3.0,7.00,17.0

In [4]:
df.select_dtypes(include=['object']).describe().T

               count unique                     top  freq
Attrition       1470      2                      No  1233
BusinessTravel  1470      3           Travel_Rarely  1043
Department      1470      3  Research & Development   961
EducationField  1470      6           Life Sciences   606
Gender          1470      2                    Male   882
JobRole         1470      9         Sales Executive   326
MaritalStatus   1470      3                 Married   673
Over18          1470      1                       Y  1470
OverTime        1470      2                      No  1054

Value counts for categorical variables

In [5]:
for col in df.select_dtypes(include=['object']).columns:
    print(f"Value counts for column '{col}':\n{df[col].value_counts()}\n")
    print('-----------------------')

Value counts for column 'Attrition':
Attrition
No     1233
Yes     237
Name: count, dtype: int64

-----------------------
Value counts for column 'BusinessTravel':
BusinessTravel
Travel_Rarely        1043
Travel_Frequently     277
Non-Travel            150
Name: count, dtype: int64

-----------------------
Value counts for column 'Department':
Department
Research & Development    961
Sales                     446
Human Resources            63
Name: count, dtype: int64

-----------------------
Value counts for column 'EducationField':
EducationField
Life Sciences       606
Medical             464
Marketing           159
Technical Degree    132
Other                82
Human Resources      27
Name: count, dtype: int64

-----------------------
Value counts for column 'Gender':
Gender
Male      882
Female    588
Name: count, dtype: int64

-----------------------
Value counts for column 'JobRole':
JobRole
Sales Executive              326
Research Scientist           292
Laboratory Technician        259
Manufacturing Director       145
Healthcare Representative    131
Manager                      102
Sales Representative          83
Research Director             80
Human Resources               52
Name: count, dtype: int64

-----------------------
Value counts for column 'MaritalStatus':
MaritalStatus
Married     673
Single      470
Divorced    327
Name: count, dtype: int64

-----------------------
Value counts for column 'Over18':
Over18
Y    1470
Name: count, dtype: int64

-----------------------
Value counts for column 'OverTime':
OverTime
No     1054
Yes     416
Name: count, dtype: int64

-----------------------

For each column, unique value counts:

In [6]:
for column in df.columns:
    print(f'{column}:Unique value number: {df[column].nunique()}')
    print("-------------")

Age:Unique value number: 43
-------------
Attrition:Unique value number: 2
-------------
BusinessTravel:Unique value number: 3
-------------
DailyRate:Unique value number: 886
-------------
Department:Unique value number: 3
-------------
DistanceFromHome:Unique value number: 29
-------------
Education:Unique value number: 5
-------------
EducationField:Unique value number: 6
-------------
EmployeeCount:Unique value number: 1
-------------
EmployeeNumber:Unique value number: 1470
-------------
EnvironmentSatisfaction:Unique value number: 4
-------------
Gender:Unique value number: 2
-------------
HourlyRate:Unique value number: 71
-------------
JobInvolvement:Unique value number: 4
-------------
JobLevel:Unique value number: 5
-------------
JobRole:Unique value number: 9
-------------
JobSatisfaction:Unique value number: 4
-------------
MaritalStatus:Unique value number: 3
-------------
MonthlyIncome:Unique value number: 1349
-------------
MonthlyRate:Unique value number: 1427
-------------
NumCompaniesWorked:Unique value number: 10
-------------
Over18:Unique value number: 1
-------------
OverTime:Unique value number: 2
-------------
PercentSalaryHike:Unique value number: 15
-------------
PerformanceRating:Unique value number: 2
-------------
RelationshipSatisfaction:Unique value number: 4
-------------
StandardHours:Unique value number: 1
-------------
StockOptionLevel:Unique value number: 4
-------------
TotalWorkingYears:Unique value number: 40
-------------
TrainingTimesLastYear:Unique value number: 7
-------------
WorkLifeBalance:Unique value number: 4
-------------
YearsAtCompany:Unique value number: 37
-------------
YearsInCurrentRole:Unique value number: 19
-------------
YearsSinceLastPromotion:Unique value number: 16
-------------
YearsWithCurrManager:Unique value number: 18
-------------

We can see some of these columns ('EmployeeCount', 'Over18', 'StandardHours') have only one unique value, those are not helpful for our analysis. We can drop these columns. Also, we can drop the 'EmployeeNumber' column beacuse it doesn't have any valuable input to our analysis.

In [23]:
df.drop(['EmployeeCount', 'Over18', 'StandardHours', 'EmployeeNumber'], axis=1, inplace=True)

In [24]:
df.head(5).T

,0,1,2,3,4
Age,41,49,37,33,27
Attrition,Yes,No,Yes,No,No
BusinessTravel,Travel_Rarely,Travel_Frequently,Travel_Rarely,Travel_Frequently,Travel_Rarely
DailyRate,1102,279,1373,1392,591
Department,Sales,Research & Development,Research & Development,Research & Development,Research & Development
DistanceFromHome,1,8,2,3,2
Education,2,1,2,4,1
EducationField,Life Sciences,Life Sciences,Other,Life Sciences,Medical
EnvironmentSatisfaction,2,3,4,4,1
Gender,Female,Male,Male,Female,Male
HourlyRate,94,61,92,56,40
JobInvolvement,3,2,2,3,3
JobLevel,2,2,1,1,1
JobRole,Sales Executive,Research Scientist,Laboratory Technician,Research Scientist,Laboratory Technician
JobSatisfaction,4,2,3,3,2
MaritalStatus,Single,Married,Single,Married,Married
MonthlyIncome,5993,5130,2090,2909,3468
MonthlyRate,19479,24907,2396,23159,16632
NumCompaniesWorked,8,1,6,1,9
OverTime,Yes,No,Yes,Yes,No
PercentSalaryHike,11,23,15,11,12
PerformanceRating,3,4,3,3,3
RelationshipSatisfaction,1,4,2,3,4
StockOptionLevel,0,1,0,0,1
TotalWorkingYears,8,10,7,8,6
TrainingTimesLastYear,0,3,3,3,3
WorkLifeBalance,1,3,3,3,3
YearsAtCompany,6,10,0,8,2
YearsInCurrentRole,4,7,0,7,2
YearsSinceLastPromotion,0,1,0,3,2
YearsWithCurrManager,5,7,0,0,2

As we can see, some column values are given in a numbered format. To make the data more understandable when visualizing, let's replace them with their corresponding actual values.

In [9]:
df_1 = df.copy()
df_1['Education'] = df_1['Education'].replace({1: 'Below College', 2: 'College', 3: 'Bachelor', 4: 'Master', 5: 'Doctor'})
df_1['EnvironmentSatisfaction'] = df_1['EnvironmentSatisfaction'].replace({1: 'Low', 2: 'Medium', 3: 'High', 4: 'Very High'})
df_1['JobInvolvement'] = df_1['JobInvolvement'].replace({1: 'Low', 2: 'Medium', 3: 'High', 4: 'Very High'})
df_1['JobLevel'] = df_1['JobLevel'].replace({1: 'Entry', 2: 'Junior', 3: 'Mid', 4: 'Senior', 5: 'Executive'})
df_1['JobSatisfaction'] = df_1['JobSatisfaction'].replace({1: 'Low', 2: 'Medium', 3: 'High', 4: 'Very High'})
df_1['PerformanceRating'] = df_1['PerformanceRating'].replace({1: 'Low', 2: 'Good', 3: 'Excellent', 4: 'Outstanding'})
df_1['RelationshipSatisfaction'] = df_1['RelationshipSatisfaction'].replace({1: 'Low', 2: 'Medium', 3: 'High', 4: 'Very High'})
df_1['StockOptionLevel'] = df_1['StockOptionLevel'].replace({0: 'None', 1: 'Basic', 2: 'Intermediate', 3: 'High'})
df_1['WorkLifeBalance'] = df_1['WorkLifeBalance'].replace({1: 'Bad', 2: 'Good', 3: 'Better', 4: 'Best'})

In [31]:
df.select_dtypes(include=['int','float']).corr()

,Age,DailyRate,DistanceFromHome,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
Age,1.000000,0.010661,-0.001686,0.208034,0.010146,0.024287,0.029820,0.509604,-0.004892,0.497855,...,0.001904,0.053535,0.037510,0.680381,-0.019621,-0.021490,0.311309,0.212901,0.216513,0.202089
DailyRate,0.010661,1.000000,-0.004985,-0.016806,0.018355,0.023381,0.046135,0.002966,0.030571,0.007707,...,0.000473,0.007846,0.042143,0.014515,0.002453,-0.037848,-0.034055,0.009932,-0.033229,-0.026363
DistanceFromHome,-0.001686,-0.004985,1.000000,0.021042,-0.016075,0.031131,0.008783,0.005303,-0.003669,-0.017014,...,0.027110,0.006557,0.044872,0.004628,-0.036942,-0.026556,0.009508,0.018845,0.010029,0.014406
Education,0.208034,-0.016806,0.021042,1.000000,-0.027128,0.016775,0.042438,0.101589,-0.011296,0.094961,...,-0.024539,-0.009118,0.018422,0.148280,-0.025100,0.009819,0.069114,0.060236,0.054254,0.069065
EnvironmentSatisfaction,0.010146,0.018355,-0.016075,-0.027128,1.000000,-0.049857,-0.008278,0.001212,-0.006784,-0.006259,...,-0.029548,0.007665,0.003432,-0.002693,-0.019359,0.027627,0.001458,0.018007,0.016194,-0.004999
HourlyRate,0.024287,0.023381,0.031131,0.016775,-0.049857,1.000000,0.042861,-0.027853,-0.071335,-0.015794,...,-0.002172,0.001330,0.050263,-0.002334,-0.008548,-0.004607,-0.019582,-0.024106,-0.026716,-0.020123
JobInvolvement,0.029820,0.046135,0.008783,0.042438,-0.008278,0.042861,1.000000,-0.012630,-0.021476,-0.015271,...,-0.029071,0.034297,0.021523,-0.005533,-0.015338,-0.014617,-0.021355,0.008717,-0.024184,0.025976
JobLevel,0.509604,0.002966,0.005303,0.101589,0.001212,-0.027853,-0.012630,1.000000,-0.001944,0.950300,...,-0.021222,0.021642,0.013984,0.782208,-0.018191,0.037818,0.534739,0.389447,0.353885,0.375281
JobSatisfaction,-0.004892,0.030571,-0.003669,-0.011296,-0.006784,-0.071335,-0.021476,-0.001944,1.000000,-0.007157,...,0.002297,-0.012454,0.010690,-0.020185,-0.005779,-0.019459,-0.003803,-0.002305,-0.018214,-0.027656
MonthlyIncome,0.497855,0.007707,-0.017014,0.094961,-0.006259,-0.015794,-0.015271,0.950300,-0.007157,1.000000,...,-0.017120,0.025873,0.005408,0.772893,-0.021736,0.030683,0.514285,0.363818,0.344978,0.344079
MonthlyRate,0.028051,-0.032182,0.027473,-0.026084,0.037600,-0.015297,-0.016322,0.039563,0.000644,0.034814,...,-0.009811,-0.004085,-0.034323,0.026442,0.001467,0.007963,-0.023655,-0.012815,0.001567,-0.036746
NumCompaniesWorked,0.299635,0.038153,-0.029251,0.126317,0.012594,0.022157,0.015012,0.142501,-0.055699,0.149515,...,-0.014095,0.052733,0.030075,0.237639,-0.066054,-0.008366,-0.118421,-0.090754,-0.036814,-0.110319
PercentSalaryHike,0.003634,0.022704,0.040235,-0.011111,-0.031701,-0.009062,-0.017205,-0.034730,0.020002,-0.027269,...,0.773550,-0.040490,0.007528,-0.020608,-0.005221,-0.003280,-0.035991,-0.001520,-0.022154,-0.011985
PerformanceRating,0.001904,0.000473,0.027110,-0.024539,-0.029548,-0.002172,-0.029071,-0.021222,0.002297,-0.017120,...,1.000000,-0.031351,0.003506,0.006744,-0.015579,0.002572,0.003435,0.034986,0.017896,0.022827
RelationshipSatisfaction,0.053535,0.007846,0.006557,-0.009118,0.007665,0.001330,0.034297,0.021642,-0.012454,0.025873,...,-0.031351,1.000000,-0.045952,0.024054,0.002497,0.019604,0.019367,-0.015123,0.033493,-0.000867
StockOptionLevel,0.037510,0.042143,0.044872,0.018422,0.003432,0.050263,0.021523,0.013984,0.010690,0.005408,...,0.003506,-0.045952,1.000000,0.010136,0.011274,0.004129,0.015058,0.050818,0.014352,0.024698
TotalWorkingYears,0.680381,0.014515,0.004628,0.148280,-0.002693,-0.002334,-0.005533,0.782208,-0.020185,0.772893,...,0.006744,0.024054,0.010136,1.000000,-0.035662,0.001008,0.628133,0.460365,0.404858,0.459188
TrainingTimesLastYear,-0.019621,0.002453,-0.036942,-0.025100,-0.019359,-0.008548,-0.015338,-0.018191,-0.005779,-0.021736,...,-0.015579,0.002497,0.011274,-0.035662,1.000000,0.028072,0.003569,-0.005738,-0.002067,-0.004096
WorkLifeBalance,-0.021490,-0.037848,-0.026556,0.009819,0.027627,-0.004607,-0.014617,0.037818,-0.019459,0.030683,...,0.002572,0.019604,0.004129,0.001008,0.028072,1.000000,0.012089,0.049856,0.008941,0.002759
YearsAtCompany,0.311309,-0.034055,0.009508,0.069114,0.001458,-0.019582,-0.021355,0.534739,-0.003803,0.514285,...,0.003435,0.019367,0.015058,0.628133,0.003569,0.012089,1.000000,0.758754,0.618409,0.769212
YearsInCurrentRole,0.212901,0.009932,0.018845,0.060236,0.018007,-0.024106,0.008717,0.389447,-0.002305,0.363818,...,0.034986,-0.015123,0.050818,0.460365,-0.005738,0.049856,0.758754,1.000000,0.548056,0.714365
YearsSinceLastPromotion,0.216513,-0.033229,0.010029,0.054254,0.016194,-0.026716,-0.024184,0.353885,-0.018214,0.344978,...,0.017896,0.033493,0.014352,0.404858,-0.002067,0.008941,0.618409,0.548056,1.000000,0.510224
YearsWithCurrManager,0.202089,-0.026363,0.014406,0.069065,-0.004999,-0.020123,0.025976,0.375281,-0.027656,0.344079,...,0.022827,-0.000867,0.024698,0.459188,-0.004096,0.002759,0.769212,0.714365,0.510224,1.000000